h1 {
  height: 100%;
}

.card {
  width: 200px;
  height: 200px;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  color: black;
  background-clip: border-box;
  justify-content: center;
  padding: 0;
  /*box-shadow: 0 0 128px 0 rgba(0, 0, 0, 1),
    0 32px 64px -48px rgba(0,0,0,5)*/
}

.carpert-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #d1ece9;
}

.card::after,
.card::before {
  box-sizing: border-box;
}

.view-img {
  height: 160px;
  background-color: blue;
  margin: 0;
  color: black;
  border-radius: 0.25rem 0.25rem 0 0;
}

.view-img:hover {
  color: black;
}

.img {
  margin: 10px;
  padding: 0;
}

h2 {
  text-decoration: none !important;
}

a {
  margin: 10px;
  padding: 0;
  text-decoration: none;
}

.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px;
  background-color: #eff2f6;
  height: 100%;
}

.menu {
  background-color: rgb(73, 69, 69);
  display: flex;
  padding: 10px;
  margin: 0 !important;
  border-bottom: 1px solid rgb(206, 204, 204);
}

.title-name {
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.button-down:hover {
  background-color: rgb(218, 219, 219);
}

.button-down:focus {
  border: none;
}

.cancel {
  background-color: rgb(224, 64, 64);
}

button {
  border-radius: 5px;
  border: none;
  background-color: green;
}

.button-down {
  border: none;
  color: black;
  background-color: white;
  border-radius: 0 0 5px 0;
  height: 40px;
}

.descript {
  display: flex;
  flex-direction: row;
}

.addCarpet {
  height: 36px;
  border: 1px solid black;
  margin-top: 1;
  border-radius: 5px 0 0 5px;
}

.addCarpet:focus {
  outline: none;
}

.munu-buton {
  height: 35px;
  padding: auto;
  border: none;
  margin-top: 0;
  border-radius: 0 5px 5px 0;
  background-color: rgb(38, 148, 66);
}

.upload-button {
  margin-left: 5px;
  border-radius: 5px;
}

.vacio {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.vacio-text {
  width: 170px;
  color: rgb(197, 194, 194);
}

.select-var{
  display: flex;
  flex-direction: row;
}

#b-dis{
  margin-left: 50%;
  margin-right: 25px;
}

@media only screen and (max-width: 700px) {
  .menu {
    float: none;
    margin-bottom: 10px;
  }
  .card {
    width: 150px;
    height: 150px;
  }
  .view-img {
    height: 100px;
  }
  .addCarpet {
    margin-top: -2px;
  }
  .card-content {
    padding: 20px;
    justify-content: center;
    height: 100%;
  }
}
