.user-nav{
    margin-bottom: 20px;
}

.logo-box{
    width: 100%;
}

.initial-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo-initial{
    margin: 5px;
    display: flex;
}

